body {
    margin: 0px;

}

span {
    color: skyblue;
}

div {color: black;}

i {
color: black;
font-size: 120px;
}
.labas {
    color: #9212e7;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 5px;
    margin: 10px;
    border:10px solid #9212e7;
    padding: 20px;
    width: 40%;
    height: 250px;
    box-sizing: border-box;
    /* display: inline-block; */
    


}